
# Created by https://www.toptal.com/developers/gitignore/api/gitbook
# Edit at https://www.toptal.com/developers/gitignore?templates=gitbook

### GitBook ###
# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf

# End of https://www.toptal.com/developers/gitignore/api/gitbook

.DS_Store